@use "./mixins" as *;
@use "./variables" as *;

.green-roll {
	@include greenRoll(64%);
}

.sect-title {
	@include whiteOut();
	color: $backgroundGreen;
	font-size: 11rem;
	display: inline-block;
	transform: translateX(7.5rem);
}
