@use "./variables" as *;
@use "./mixins" as *;

.greet-div {
	position: relative;
	top: 15%;
	left: 15%;
	display: inline-block;
	color: $textColourWhite;
}

.hi-title {
	font-size: 13rem;
	margin-bottom: 2rem;
	@include whiteOut();
}

.tag-name {
	float: right;
	font-size: 1.3rem;
	letter-spacing: 0.1rem;
	span {
		color: #c84c09;
	}
}

.intro-title {
	font-size: 6rem;
	line-height: 0.7;
	letter-spacing: 3px;
}

.info-title {
	font-size: 3.5rem;
	letter-spacing: 2px;
	line-height: 1.4;
	@include whiteOut();
}

.landing-aside {
	@include flexCenter();
	img {
		width: 80%;
		border-radius: 50%;
	}
}
