@use "./variables" as *;

@mixin whiteOut {
	text-shadow: -1px 1px 0 $textColourWhite, 1px 1px 0 $textColourWhite,
		1px -1px 0 $textColourWhite, -1px -1px 0 $textColourWhite;
	color: $backgroundGreen;
}

@mixin greenRoll($width) {
	background-color: $backgroundGreen;
	width: $width;
	height: 100vh;
	padding-left: 100px;
}

@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin flexDirection($direction) {
	display: flex;
	flex-direction: $direction;
}
